*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    display: inline-block;
    margin: auto;
    min-height: 100vh;
    background: #292727;
    font-family: sans-serif;
    padding-top: 90px;
}

.navbar{
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9;
    background: #131212;
}

.links{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.link a{
    color: #fff;
    text-decoration: none;
    padding: 10px 30px;
    margin: 0 20px;
    transition: .5s;
    line-height: 80px;
    font-size: 20px;
}

.link a:hover{
    opacity: 1;
    color: rosybrown;
}

.introduction {
    margin-bottom: 10px;
    padding: 30px;
    height: 400px;
    font-family: sans-serif;
    font-size: 18px;
    color: #fff;
}
#my-photo1 {
    height: 400px;
    width: 400px;

}

#first-section {
    width: 90%;
    height: 100%;
    display: block;
    margin-left: 20px;
    padding: 40px;
}

.about-me {
    margin-bottom: 15px;
    padding: 40px;
    height: auto;
    font-family: sans-serif;
    background-color: rgb(200, 202, 163);
    color: #292727;
}

.about-me h1 {
    font-style: oblique;
    font-weight:900;
}
.about-me p {
    padding:5px;
}

#second-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    width: 90%;
    height: 100%;
    display: block;
    margin-left: 20px;
    padding: 40px;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
    padding: 40px;
    height: auto;
    font-family: sans-serif;
    background-color: rgb(200, 202, 163);
    color: #292727;
    overflow: hidden;

}
.projects h1 {
    font-style: oblique;
    font-weight:900; 
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    flex-basis: 80%;
}

.column {
    flex-basis:20%;
    display: flex;
    flex-direction: column;

}

.big-card {
    padding: 10px;
}

.big-card header {
    text-align: center;
    font-weight: bold;
}

.big-card:hover {
    opacity: .5;
    color: black;
}

.card {
    padding: 10px;
  }

.card header {
    text-align: center;
    font-weight: bold;
}

.card:hover {
    opacity: .5;
    color: black;
}

.big-card img {
    width: 100%;
    min-width: 200px;
    max-width: 500px;
}

.card img {
    width: 100%;
    min-width: 200px;
    max-width: 300px;
  }

#contact {
    width: 100%;
    position: relative;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #131212;  
  }

.contact-links {
    list-style: none;
    display: flex;
    flex-wrap: wrap;   
}


  @media all and (max-width: 800px) {
      .row {
          justify-content:center;
      }
  }

  @media all and (max-width: 500px) {t
      .column {
          flex-direction: column;
      }
  }
